.About-section {
    height: auto;
    padding: 20px;
    position: relative;
    top: 150px;
    margin-bottom: 100px;
    z-index: -2;
}

.About {
    background-color: whitesmoke;
    padding: 20px;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.About .aboutWritten {
    width: 40%;
}

.About-section h1 {
    font-size: 25px;
}

.About-section p {
    font-size: 18px;
}

.aboutWritten {
    display: flex;
    flex-direction: column;
}

.AboutImage {
    background-image: url('../assets/Images/AboutPhoto.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

@media screen and (max-width: 500px) {
    .About {
        flex-direction: column-reverse;
        height: auto;
        display: flex;
        justify-content: space-around;
        margin-bottom: 100px;
    }

    .AboutImage {
        width: 300px;
        height: 300px;
    }

    .About-section h1 {
        font-size: 28px;
        margin-top: 20px;
    }

    .About-section {
        height: auto;
        padding: 20px;
    }

    .About-section p {
        font-size: 14px;
    }

    .About .aboutWritten {
        width: 100%;
    }
}