.Property-listing {
    position: relative;
    top: 150px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.Photos {
    display: grid;
    gap: 100px;
    grid-template-columns: repeat(3, 1fr);
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    border-radius: 4px;
    /* Limits the width to 600px */
}

.image-container img {
    width: 90%;
    /* Responsive width */
    border-radius: 4px;
    max-width: 100%;
    /* Ensures the image doesn’t exceed the container's width */
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
}

.image-container:hover img {
    filter: brightness(0.6);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    border-radius: 8px;
    transition: opacity 0.4s;
    pointer-events: none;
    /* Make the overlay non-blocking for clicks */
}

.image-container:hover .overlay {
    opacity: 1;
}

.overlay-text {
    color: white;
    text-align: center;
    pointer-events: auto;
 
    /* Allow clicking on text inside overlay */
}

.overlay-text h3 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.overlay-text p {
    margin: 5px 0 0;
    font-size: 18px;
}

.Photos img {
    width: 90%;
    max-width: 100%;
    height: 90%;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
    cursor: pointer;
}

.Photos img:hover {
    filter: brightness(0.6);
}

.Property-listing h1 {
    margin: 10px 0px;
    font-size: 30px;
    padding: 4px;
    background-color: var(--primary-color);
    color: whitesmoke;
    text-align: center;
}


.Property-listing .flats1,
.flats2,
.flats3,
.flats4 {
    background-color: rgb(238, 238, 238);
    padding: 10px;
}